<div class="container-fluid">
  <h1>Notifications</h1>
  <% if (@notifications) %>
    <% @notifications.each do |n| %>
      <% if n.read == false %>
        <%= button_to "X", user_notification_path(n.receiver_id, n.id), method: :patch %>
        <div>
          <h3><%= n.message %></h3>
          <small>Sent by <%= n.sender.first_name %></small>
          <small>Received by <%= n.receiver.first_name %></small>
          <% if (n.is_request && n.request_type == 'enrollment') %>
            <%= link_to "Approve", user_enrollment_path(n.sender_id, n.id), method: :patch %>
            <%= link_to "Deny", user_enrollment_path(n.sender_id, n.id), method: :delete %>
          <% elsif (n.is_request && n.request_type == 'booking') %>
            <%= link_to "Approve", user_booking_path(n.sender_id, n.id), method: :patch %>
            <%= link_to "Deny", user_booking_path(n.sender_id, n.id), method: :delete %>
          <% end %>
          <%= time_ago_in_words(n.created_at) %> ago
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>