<h1>Facility Details</h1>
<%# place holder links %>
<div>
    <%= link_to 'All Facilities', facilities_index_path %> |
    <%= link_to 'Add Facility', new_facility_path %> |
    <%= link_to 'Edit', edit_facility_path%>
</div>
<hr>
<div class="">
    <p><%= @facility.full_address %>
    <p>Facility Features: <%= @facility.features %></p>

    <% unless @facility.tags.empty? %>
        <p> Tags:
            <% @facility.tags.each do |tag| %>
            <%= link_to(
                tag.name, facilities_path(tag: tag.name)
            )%>
            <% end %>
        </p>
    <% end %>
</div>

<%# no routes yet for this link to work %>
<div>
    <%= link_to 'Book'%>
</div>