<h1>Facility Details</h1>
<%# place holder links %>
<div>

<!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
    </script>
        <%= link_to 'All Facilities', facilities_index_path %> 
    <% if current_user&.is_admin? %>
        | <%= link_to 'Add Facility', new_facility_path %> |
        <%= link_to 'Edit', edit_facility_path%> |
        <%= link_to 'Delete', facility_path, method: :delete, data:{confirm:"Are you sure you want to delete?"} %>
    <% end %>
</div>
<hr>
<div class="">
    <p><%= @facility.full_address %>
    <p>Facility Features: <%= @facility.features %></p>

    <% unless @facility.tags.empty? %>
        <p> Tags:
            <% @facility.tags.each do |tag| %>
            <%= link_to(
                tag.name, facilities_path(tag: tag.name)
            )%>
            <% end %>
        </p>
    <% end %>
</div>

<%# no routes yet for this link to work %>
<div>
    <%= link_to 'Book'%>
</div>