<% if @course.errors.any? %>
  <ul>
    <% @course.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div class="container-fluid">
<%= form_with model:@course do |form|%>
    <div class="mb-3" style="margin-top:80px">
      <%= form.label :title %>
      <%= form.text_field :title , :class=>'form-control' %>
    </div>

     <div class="mb-3">
      <%= form.label :description%>
      <%= form.text_area :description , :class=>'form-control' %>
    </div>
  
    <div class="mb-3">
      <%= form.label :max_students%>
      <%= form.number_field :max_students, in: 1.0..30.0, step: 1, :class=>'form-control'  %>
    </div>
    <div class="mb-3 tag-container">
            <div class="tag-wrapper">
                <%= form.label :tag_names %>
                <%= form.text_field :tag_names, :class=>'form-control' %>
            </div>
    </div>
        <div class="mb-3">
        <%= form.submit class:"btn btn-outline-primary" %>
        </div>
    <% end %>
</div>

<script>
    
    $(function(){
        $('#course_tag_names').selectize({
            delimeter: ',',
            persist: false,
            labelField: 'name', //Column name in db  
            valueField: 'name', //Column name in db
            searchField: 'name', //Column in db
            options: <%= Tag.joins("LEFT JOIN taggings ON tags.id = taggings.tag_id").where('course_id IS NOT NULL').select(:name).to_json(except: [:id]).html_safe %>,
            //The above line selects only names from tags table and converts them to
            //a json array of objects without including ids and makes sure its safe html string
            //options: [{"name": "first tag"}, {"name":"second tag"}, ..., {"name": "last tag"}]
            create: function(input) {
                return {
                    name: input
                }
            }
        })
    })
</script>
    
