

<% if @course.errors.any? %>
  <ul>
    <% @course.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div class="container">

<%= form_with model:@course do |form|%>
 <div class="m-4">

    <%= form.label :title%>
    
   
    <%= form.text_field :title , :class=>'form-control' %>
    </div>
     <div class="m-4">
    <%= form.label :description%>
    
    <%= form.text_area :description , :class=>'form-control' %>
    </div>
    
    <div class="m-4">
    <%= form.label :max_students%>
    <%= form.number_field :max_students, in: 1.0..30.0, step: 1, :class=>'form-control'  %>
    </div>
    
    <div class="m-4">
    <%= form.submit nil, class:"btn btn-outline-primary" %>
    </div>
<% end %>
</div>


