

<% if @course.errors.any? %>
  <ul>
    <% @course.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model:@course do |form|%>

    <%= form.label :title%>
    <br>
   
    <%= form.text_field :title%>
    
    <br>
    <%= form.label :description%>
    <br>
    <%= form.text_area :description%>
    <br>
    <%= form.label :max_students%>
    <%= form.number_field :max_students, in: 1.0..30.0, step: 1 %>
    <br>
    <%= form.submit nil, class:"btn btn-outline-primary" %>
<% end %>

