
<h1 ><%= @course.title%> </h1>

<p ><%= @course.description%></p>
<p ><%= @course.max_students%></p>
<br>
<h5>
    Created by:
</h5>



<% if  @enrollment.present? %>
<%= link_to "Cancel Enrollment", user_enrollment_path(current_user, @enrollment) , method: :delete %>
<% else %>
<%= link_to("Enroll Now", "/users/current_user/enrollments?course_id=#{@course.id}", method: :post)%>
<% end %>


|

 <%= link_to("Book", new_course_booking_path(@course.id)) %>
