
<h1 ><%= @course.title%> </h1>

<p ><%= @course.description%></p>
<p ><%= @course.max_students%></p>
<br>
<h5>
    Created by:
</h5>


<% if  @enrollment.present? %>
<%= link_to "Cancel Enrollement", method: :delete %>
<% else %>
<%= link_to("Enroll Now", "/users/#{@user.id}/enrollments?course_id=#{@course.id}", method: :post)%>
<% end %>


|

 <%= link_to("Book", course_bookings_path(@course.id)) %>
