<!DOCTYPE html>
<html>
  <head>
    <title>CodecoreGroupProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

  <style>
    body {
      padding: 50px;
    }
    .swiper {
        height: 600px;
      }
    .swiper-slide {
        /* background: #ccc; */
        background-image: url('office.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
      }
      .swiper-slide>a {
        text-decoration: none;
        }
  </style>
  </head>

  <body>

  <nav class="navbar navbar-light bg-light justify-content-between">
      <ul class="nav">
        <a href="/" class="nav-link ml font">Home</a>
      </ul>
      <ul class="nav">
      
    <% if user_signed_in? %>
        
            Hello! <%= current_user.full_name %>
          <li><%= link_to "Sign Out", session_path, class: 'nav-link', method: :delete, data: {confirm: "Are you sure you want to Sign out?"} %></li>
            <%if current_user.is_admin%>
              <%= link_to 'Admin Panel', admin_path %>
            <% end %>

          <% else %>
          <li><%=  link_to  'Sign In', new_session_path, class: 'nav-link'  %></li>
          <li><%=  link_to  'Sign Up', new_user_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
  </nav>

  <% if flash[:notice].present?%>
    <div class="alert alert-success aler-dismissible fade show font-s" role="alert">
      <%= flash[:notice]%>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
          </button>
        </div>
        
    <% elsif flash[:alert].present?%>
      <div class="alert alert-danger aler-dismissible fade show font-s" role="alert">
          <%= flash[:alert]%>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
          </button>
      </div>
      <% end %>
    
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <%= yield %>
  </body>
</html>
