<!DOCTYPE html>
<html>
  <head>
    <title>CodecoreGroupProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
  </head>
  <body>

  <% if user_signed_in? %>
          Hello <%= current_user.full_name %>
          <%= link_to "Logout", session_path, method: :delete, data: {confirm: "Are you sure you want to logout?"} %>
          |
          <%if current_user.is_admin%>
            <%= link_to 'admin', admin_path %>
          <% end %>

            <% else %>
            <%=  link_to  'Log in', new_session_path  %>
              |
            <%=  link_to  'Sign Up', new_user_path  %>
            <% end %>
          
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

   <% if flash[:alert]%>
   <%= flash[:alert]%>
   <%end%>
    <%= yield %>
  </body>
</html>
