<!DOCTYPE html>
<html>
  <head>
    <title>CodecoreGroupProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

  <style>
    body {
      padding: 50px;
    }
    .swiper {
        height: 600px;
      }
    .swiper-slide {
        /* background: #ccc; */
        background-image: url('office.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
      }
      .swiper-slide>a {
        text-decoration: none;
        }
  </style>
  </head>

  <body>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <%= yield %>
  </body>
</html>
